<template>
    <form method="post" :action="docUpdateActionUrl"
    >
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_token" :value="csrf">

        <div class="mb-3">
            <button class="btn btn-success" type="submit">Save</button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Key</th>
                <th>Val</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(f, idx) in form" :key="idx">
                <td>
                    <input @keypress.enter.prevent
                           v-model="f.key"
                           class="form-control"
                           type="text"
                           :name="`meta[${idx}][key]`"
                    >
                </td>
                <td>
                    <input @keypress.enter.prevent
                           v-model="f.val"
                           class="form-control"
                           type="text"
                           :name="`meta[${idx}][val]`"
                    >
                </td>
                <td>
                    <button @click.prevent="removeData(f)"
                            class="btn btn-secondary"
                    >remove</button>
                </td>
            </tr>
            <tr class="border-top border-primary">
                <td>
                    <input @keypress.enter.prevent
                           v-model="formNew.key"
                           class="form-control"
                           type="text"
                    >
                </td>
                <td>
                    <input @keypress.enter.prevent
                           v-model="formNew.val"
                           class="form-control"
                           type="text"
                    >
                </td>
                <td>
                    <button @click.prevent="addData" type="button"
                            class="btn btn-secondary"
                    >add</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    const defaultKeys = [
        'title', 'brand',
    ];

    import hslide from '../../shared/hslide';


    export default {

        name: "meta_form",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        // mixins: [],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            hslide,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            docId: {
                type: String,
                required: true,
            },
            formRef: {},
        },

        data() {
            const formRef = this.formRef;
            const form = [];
            Object.keys(this.formRef).forEach((key) => {
                form.push({
                    key,
                    val: formRef[key],
                });
            });

            return {

                form,
                formNew: {
                    key: '',
                    val: '',
                },
            };
        },

        computed: {
            docUpdateActionUrl() {
                return `/documents/${this.docId}`;
            },
            csrf() {
                return window.csrf;
            },
        },

        // watch: {},

        methods: {
            addData() {
                this.form.push({
                    key: this.formNew.key,
                    val: this.formNew.val,
                });
                this.formNew.key = '';
                this.formNew.val = '';
            },
            removeData(data) {
                this.form.splice(this.form.indexOf(data), 1);
            },
        },

    }

</script>
