<template>
<div>

    <alert :hub="$root" :alert-ref="alertRef"></alert>

    <div class="px-4 py-2 bg-light border-top border-bottom">
        <b-button @click="saveImagesForDocumentAction()"
                  v-bind="getMenuBtnProps"
                  variant="success"
        >
            <b-spinner v-if="isSaveImagesForDocumentActionRequesting" small class="mr-2"></b-spinner>
            save
        </b-button>
        <b-button @click="rotateClockwise()" v-bind="getMenuBtnProps"><i class="fas fa-undo-alt"></i><span class="ml-2">90°</span></b-button>
        <b-button @click="rotateCounterClockwise()" v-bind="getMenuBtnProps"><i class="fas fa-redo-alt"></i><span class="ml-2">90°</span></b-button>
        <b-button @click="addFeatureRef()" v-bind="getMenuBtnProps">add feature</b-button>
    </div>


    <div class="d-flex border-bottom">
        <div class="img-prev-container border-right">
            <div v-for="(img, imgIdx) in docImages"
                 @click="loadImage(img.src, img._id)"
                 class="p-2"
                 :class="{'bg-primary-50': isActiveImage(img._id)}"
                 :key="`img_${imgIdx}`"
            >
                <b-img-lazy v-bind="imgPrevProps"
                            :src="img.src"
                            :alt="img.name"
                ></b-img-lazy>
            </div>
        </div>

        <div class="flex-grow-1 pt-3">
            <image-editor ref="tuiImageEditor"
                          class="tui-image-editor"
                          :include-ui="useDefaultUI"
                          :options="imageEditorOptions"
                          @mousedown="onMouseDown"
                          @objectActivated="onObjectActivated"
                          @objectMoved="onObjectMoved"
                          @objectScaled="onObjectScaled"
                          @objectRotated="onObjectRotated"
            ></image-editor>
        </div>

        <div class="data-container border-left">
            <div class="">
                <div v-for="(feat, featIdx) in features"
                     :key="`feat_${featIdx}`"
                     class="border-bottom p-2"
                     :class="[{'bg-primary-50': getActiveFeatureId === feat.id}]"
                >
                    <b-form-group :label-for="`fromFeatType_${featIdx}`"
                                  class="mb-1"
                    >
                        <b-form-input v-model="feat.type"
                                      placeholder="Feature type"
                                      :id="`fromFeatType_${featIdx}`"
                                      @focus="discardSelection()"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group :label-for="`fromFeatContent_${featIdx}`"
                                  class="mb-1"
                    >
                        <b-form-input v-model="feat.content"
                                      placeholder="Feature Content"
                                      :id="`fromFeatContent_${featIdx}`"
                                      @focus="discardSelection()"
                        ></b-form-input>
                    </b-form-group>
                    <b-button @click="removeFeature(feat)" v-bind="menuBtnProps">remove</b-button>
                </div>
            </div>
            <div class="p-2">
                <p>DrawingMode: <code>{{ getDrawingMode }}</code></p>
                <p>AciveImage: <code>{{ getActiveImageId }}</code></p>
            </div>
        </div>
    </div>

</div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    import urlHelperMixin from '../../mixins/url_helper';
    import docIdMixin from '../../mixins/doc_id';
    import docApiMixin from '../../mixins/doc_api';
    import imageEditorMixin from '../../mixins/image_editor';
    import notifierMixin from '../../mixins/notifier';

    import alert from '../../shared/alert';

    export default {

        name: 'image_editor',

        /*
        |---------------------------------------------------------------------------
        | Composition
        |---------------------------------------------------------------------------
        */

        mixins: [
            urlHelperMixin,
            docIdMixin,
            docApiMixin,
            imageEditorMixin,
            notifierMixin,
        ],

        // extends: {},

        /*
        |---------------------------------------------------------------------------
        | Assets
        |---------------------------------------------------------------------------
        */

        // directives: {},

        // filters: {},

        components: {
            alert,
        },

        /*
        |---------------------------------------------------------------------------
        | Lifecycle Hooks
        |---------------------------------------------------------------------------
        */

        // created() {},

        mounted() {
            this.fetchImagesFromDocumentAction(this.docId);
        },

        /*
        |---------------------------------------------------------------------------
        | Data
        |---------------------------------------------------------------------------
        */

        // props: {},

        data() {
            return {
                imgPrevProps: {
                    center: true,
                    // fluidGrow: true,
                    blank: true,
                    blankColor: '#bbb',
                    blankWidth: 128,
                    blankHeight: 128,
                    width: 128,
                    height: 128,
                    // class: ''
                },
                menuBtnProps: {
                    size: 'sm',
                    variant: 'dark',
                },
                alertRef: 'editorAlert',
            };
        },

        computed: {
            getMenuBtnProps() {
                const props = this.menuBtnProps;
                props.disabled = !this.isBtnActive;
                return props;
            },
            isBtnActive() {
                return !this.isFetchImagesFromDocumentActionRequesting
                    && !this.isSaveImagesForDocumentActionRequesting
                    && this.hasActiveImage
                    ;
            },
        },

        // watch: {},

        // methods: {},
    }

</script>

<style lang="scss">
    .tui-image-editor-canvas-container {
        margin: 0 auto;
        border: 1px dashed black;
        overflow: hidden;
    }

    .tui-image-editor {}

    .img-prev-container {
        width: 200px;
    }

    .data-container {
        width: 250px;
    }
</style>
