@import "variables";
@import '~bootstrap';
@import '~bootstrap-vue';

@import "hslide";

.product-image {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@include media-breakpoint-up(sm) {
    .product-image {
        width: 128px;
        height: 128px;
    }
}

.bg-primary-50 { background-color: map_get($color-blue, '50'); }
