<template>
    <div>
        <b-alert :variant="variant"
                 :dismissible="dismissible"
                 :fade="fade"
                 :show="show || dismissCountDown"
                 @dismissed="reset"
                 @dismiss-count-down="countDownChanged"
        >
            {{ msg }}
        </b-alert>
        <div v-show="! dismissCountDown">
            <slot></slot>
        </div>
    </div>
</template>

<script>

    // TODO: move variants to a global file
    const VALID_VARIANTS = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'];

    export default {

        name: "alert",

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        mounted() {
            this.hub.$on(`alert::${this.alertRef}::show`, function (data) {
                this.reset();
                this.msg = typeof data.msg !== 'undefined' ? data.msg : this.msg;
                this.variant = typeof data.variant !== 'undefined' ? data.variant : this.variant;
                this.dismissible = typeof data.dismissible !== 'undefined' ? data.dismissible : this.dismissible;
                this.fade = typeof data.fade !== 'undefined' ? data.fade : this.fade;
                if (typeof data.autoHide !== 'undefined') {
                    this.dismissCountDown = this.dismissSecs;
                } else {
                    this.show = true;
                }
            }.bind(this));

            this.hub.$on(`alert::${this.alertRef}::hide`, function (data) {
                this.reset();
            }.bind(this));
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            alertRef: {
                type: String,
                default: 'gl'
            },
            hub: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                msg: '',
                variant: 'info',
                dismissible: false,
                dismissLabel: 'Close',
                dismissSecs: 3,
                dismissCountDown: 0,
                fade: true,
                show: false
            }
        },

        methods: {
            reset() {
                this.dismissCountDown = 0;
                this.show = false;
                this.variant = 'info';
                this.msg = '';
                this.dismissible = false;
                this.fade = false;
            },

            countDownChanged (dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
        }
    }
</script>
