<template>
    <div class="hslide">
        <div v-show="hasScrollHint" class="hslide__scroll-hint-right"></div>
        <div class="hslide__scroll-container">
            <div class="hslide__list">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'hslide',

        props: {
            scrollHint: {
                type: Boolean,
                default: true,
            }
        },

        computed: {
            hasScrollHint () {
                return this.scrollHint;
            }
        }
    };

</script>
